.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  height: 5vh;
  width: 100%;
  padding: 2rem;

  background-color: #000;
  border-bottom: 1px solid #cdc7cb;
}

.brand {
  flex: 1;
  position: absolute;
  left: 2rem;
}

.container a {
  color: #eff0f1;
  background: #000;
  padding: 0.7rem;
}

.container ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.container ul li {
  cursor: pointer;
  letter-spacing: 1px;
}