.page-home {
  display: flex;

  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  height: 5vh;
  width: 100%;

  padding: 2rem;
  background-color: #000;

  position: fixed;
}

.header div button {
  border: 0;
  color: #eff0f1;
  background: #000;
  padding: 0.7rem;
}

.feed {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 3rem
}

.feed div {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  align-items: center;
}

.feed div img {
  background-color: #090807;
  width: 30vw;
  height: 60vh;
}

.feed div p {
  padding-top: 1rem;
  color: #ccc;
  
  text-align: center;
}

.feed div h1 {
  color: #eff0f1;
  
  text-align: center;
}